<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <script type="text/javascript"
	    src="https://cdn.jsdelivr.net/npm/brython@3.9.1/brython.min.js">
    </script>
    <script type="text/javascript"
	    src="https://cdn.jsdelivr.net/npm/brython@3.9.1/brython_stdlib.js">
    </script>
    <script type="text/python" src="/static/client.py"></script>
  </head>

  <body onload="brython()">
    <div id="messages" style="overflow-y: scroll; height: 800px; font-size:30px"></div>
    <div style="display: flex; align-items: center; justify-content: center;">
        <textarea cols="150" id="text" rows="5"></textarea>
        <button id="send" style="
            background-color: green;
            color: white;
            height: 60px;
            width: 100px;
            margin-left: 10px;
        ">Enviar</button>
    </div>
  </body>
</html>